<%#<!--
  footer.ejs
  Copyright and About (legal etc) Footer.
  Main page <body>: <footer> snippet.
  Jamie Lievesley Project
  Jamie Lievesley (jamie@jamiegl.co.uk)
  31 Aug 2020 19:00
-->%>

<div class="footer-fill">M</div>
<footer>&copy; 2017-2021 Jamie Lievesley</footer>
