<%#<!--
  portfolio.ejs
  Grid of Portfolio projects as Tiles.
  Main page <body> Portfolio section snippet.
  Jamie Lievesley Project
  Jamie Lievesley (jamie@jamiegl.co.uk)
  31 Aug 2020 19:00
-->%>

<section id="portfolio">
  <h2 class="section-heading withIcon accent ic-briefcase">Portfolio</h2>
  <article class="container-grid lightbg">
    <!-- SmartReg -->
    <div role="button" id="project-smartreg">
      <a
        class="nostyle"
        href="//uni.jamiegl.com/gradshow/smartreg"
        target="blank"
      >
        <span>
          <h3 class="withIcon">SmartReg</h3>
          <span class="subtitle">Honours Project</span>
          <p>
            Abertay Smart Register is an RFID and Bluetooth electronic
            attendance system for university classrooms and lectures.
          </p>
          <span class="a withIcon accent ic-more">More</span>
          <img
            src="./img/project/smartreg256.png"
            alt="[Product Image]"
          /> </span
      ></a>
    </div>

    <!-- 4 Connect AI -->
    <div role="button" id="project-4connectai">
      <a
        class="nostyle"
        href="https://play.google.com/store/apps/details?id=com.artyfishl.connect4ai"
        target="_blank"
      >
        <span>
          <h3 class="withIcon">4 Connect AI</h3>
          <span class="subtitle">Android App</span>
          <p>A game of matching 4 counters in a row.</p>
          <span class="a withIcon accent ic-google-play"
            >View on Google Play Store</span
          >
          <img src="./img/project/fcai256.png" alt="[Product Image]" /> </span
      ></a>
    </div>
  </article>
</section>
