<%#<!--
  about.ejs
  Grid of Profile link buttons as Tiles.
  Main page <body> Profiles section snippet.
  Jamie Lievesley Project
  Jamie Lievesley (jamie@jamiegl.co.uk)
  31 Aug 2020 19:00
-->%>

<section id="profiles">
  <h2 class="section-heading withIcon accent ic-people">Profiles</h2>
  <article class="container-icons lightbg">
    <!-- GitHub -->
    <div role="button" id="portfolio-github" style="background-color: #24292e;">
      <a class="nostyle" target="_blank" href="https://github.com/jamiegluk">
        <img src="./img/profile/github_128.svg" alt="GitHub" />
      </a>
    </div>

    <!-- LinkedIn -->
    <div
      role="button"
      id="portfolio-linkedin"
      style="background-color: #0077b5;"
    >
      <a
        class="nostyle"
        target="_blank"
        href="https://www.linkedin.com/in/jamie-lievesley"
      >
        <img src="./img/profile/linkedin_128.svg" alt="LinkedIn" />
      </a>
    </div>

    <!-- Google Play -->
    <div
      role="button"
      id="portfolio-googleplay"
      style="background-color: rgb(104, 159, 56);"
    >
      <a
        class="nostyle"
        target="_blank"
        href="https://play.google.com/store/apps/developer?id=ArtyFishL"
      >
        <img src="./img/profile/google_play_128.svg" alt="Google Play" />
      </a>
    </div>

    <!-- Instagram -->
    <div
      role="button"
      id="portfolio-instagram"
      style="background-color: #c13584;"
    >
      <a
        class="nostyle"
        target="_blank"
        href="https://www.instagram.com/scottish_jamie/"
      >
        <img src="./img/profile/instagram_128.svg" alt="Instagram" />
      </a>
    </div>

    <!-- Facebook -->
    <div
      role="button"
      id="portfolio-facebook"
      style="background-color: #3b5998;"
    >
      <a
        class="nostyle"
        target="_blank"
        href="https://www.facebook.com/jamie.lievesley"
      >
        <img src="./img/profile/facebook_128.svg" alt="Facebook" />
      </a>
    </div>

    <!-- Twitter -->
    <!--<div role="button" id="portfolio-twitter" style="background-color:#1DA1F2">
        <a class="nostyle" target="_blank" href="https://twitter.com/_I_am_Jamie_">
          <img src="./img/profile/twitter_128.svg" alt="Twitter" />
        </a>
      </div>-->

    <!-- Youtube -->
    <div
      role="button"
      id="portfolio-youtube"
      style="background-color: #cd201f;"
    >
      <a
        class="nostyle"
        target="_blank"
        href="https://www.youtube.com/channel/UCyT8Lb6U9giMoK7FC0-XVyA"
      >
        <img src="./img/profile/youtube_128.svg" alt="YouTube" />
      </a>
    </div>
  </article>
</section>
