<%#<!--
  about.ejs
  Short summary text below header.
  Main page <body> Summary section snippet.
  Jamie Lievesley Project
  Jamie Lievesley (jamie@jamiegl.co.uk)
  31 Aug 2020 19:00
-->%>

<section id="summary">
  <article class="textbox">
    <p>
      <span class="line">
        Jamie Lievesley creates for the web, desktop and mobile devices.
      </span>
      <span class="line">
        Currently, a
        <span itemprop="jobTitle">Senior Software Engineer</span> at
        <a
          href="https://www.3dnetmedical.com/public/"
          target="_blank"
          rel="noreferrer"
          itemprop="worksFor"
          >Biotronics 3D</a
        >.
      </span>
    </p>
  </article>
</section>
